.footer {
  width: 1156px;
  margin: 270px auto 30px;
  display: flex;
  justify-content: flex-end;
}

.footer__copyright {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}